html, body {
    margin: 0;
    padding: 0;
    color:white;
    font-family: 'Inter', sans-serif;
    background: #1F2937;
}
header{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 20px 50px;
    background: linear-gradient(246.26deg, #585DFE 0%, #FB3796 100%)
}
.head-element{
    color: white;
    width: 250px;
    background: #1F2937;
    text-align: center;
    margin-top: 20px;
    padding: 7px 0px;
    border: 2px solid white;
    border-radius: 500px;
}
main{
    padding: 25px 100px;
    background: #1F2937;
    text-align: center;
}
::placeholder{
    color: #D2D2D2;
}
h4{
    color: #D2D2D2;
}
